.signUpForm {
  border: 1px solid #ababab;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 auto;
  width: 80%; /* value of your choice which suits your alignment */
  padding-left: 55px;
  padding-right: 54px;
  padding-top: 37.03px;
  padding-bottom: 38px;
}
.gButton {
  background: rgb(237, 237, 237);
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  border-radius: 57px;
}
.gButton img {
  width: 37px;
  height: 37px;
  margin-right: 10px;
}
